<%- include('template/header', {tituloPagina: 'Index'}) %>


<div class="container">
    <h1> CRUD Proyecciones Radiológicas</h1>
    <a class="btn btn-success btn-block my-4" href="/proyeccionesRadiologicas/Crear">
        Crear nueva proyeccion
    </a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Proyección</th>
                <th scope="col">Factores de exposición</th>
                <th scope="col">Estructura anatómica</th>
                <th scope="col">Tamaño de la placa</th>
                <th scope="col">Posición</th>
                <th scope="col">Rayo Central</th>
                <th scope="col">Instrucciones Al Paciente</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <% if (arrayproyeccionesRadiologicas.length > 0) { %>
            <% arrayproyeccionesRadiologicas.forEach(element => { %>
            <tr>
                <th scope="row"><%= element.id %> </th>
                <td><%= element.proyeccion %> </td>
                <td><%= element.factoresDeExposicion %> </td>
                <td><%= element.estructuraAnatomica %> </td>
                <td><%= element.tamañoDeLaPlaca %> </td>
                <td><%= element.posicion %> </td>
                <td><%= element.rayoCentral %> </td>
                <td><%= element.instruccionesAlPaciente %> </td>
                <td> <a class="btn btn-warning" href="/proyeccionesRadiologicas/<%= element.id %>">Editar</a></td>
            </tr>
            <% }) %>

            <% } %>


        </tbody>
    </table>

</div>