<%- include('template/header', {tituloPagina: 'Index'}) %>


<div class="container">
    <h1> CRUD Proyecciones Radiológicas</h1>
    <a class="btn btn-success btn-block my-4" href="/proyeccionesRadiologicas/Crear">
        Crear nueva proyeccion
    </a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">nombre</th>
                <th scope="col">descripcion</th>
                <th scope="col">accion</th>
            </tr>
        </thead>
        <tbody>
            <% if (arrayproyeccionesRadiologicas.length > 0) { %>
            <% arrayproyeccionesRadiologicas.forEach(element => { %>
            <tr>
                <th scope="row"><%= element.id %> </th>
                <td><%= element.nombre %> </td>
                <td><%= element.descripcion %> </td>
                <td> <a class="btn btn-warning" href="/proyeccionesRadiologicas/<%= element.id %>">Editar</a></td>
            </tr>
            <% }) %>

            <% } %>


        </tbody>
    </table>

</div>